/**
 * Theme for Reveal.js
 *
 * By Jason Schindler, http://jason.types.codes
 */

// Default mixins and settings -----------------
@import "mixins";
@import "settings";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #EDAA6C;

$mainFont: 'TypoPRO TeX Gyre Bonum', Helvetica, sans-serif;
$mainFontSize: 34px;
$mainColor: #7B420E;

$blockMargin: 15px;

$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'TypoPRO Comme', Helvetica, sans-serif;
$headingColor: #516A9F;
$headingLineHeight: 1.2;

$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;

$heading1Size: 1.8em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;


$linkColor: #1B802D;
$linkColorHover: lighten( $linkColor, 15% );

$selectionBackgroundColor: lighten( $linkColor, 25% );
$selectionColor: #A856B1;


section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import "theme";
// ---------------------------------------------
