.bland {
  color: #fff !important;
}

.lots-of-space {
  padding-top: 100px !important;
}

.bits-of-space {
  padding-top: 45px !important;
}

.tons-of-space {
  padding-top: 450px !important;
}

.hard-left {
  text-align: left !important;
}

.slim {
  margin: 0 !important;
  padding: 0 !important;
}

.hard-right {
  text-align: right !important;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.reveal code {
  font-family: 'TypoPRO Source Code Pro', monospace;
}

ul,ol {
  margin: 0 !important;
  
  li:first-child {
    padding-top: 0.3em !important;
  }

  li {
    padding-top: 0.3em !important;
  }
  
  &.bits-of-space {
    li:first-child {
      padding-top: 45px !important;
    }
  }
  
  &.no-bullets {
    list-style-type: none !important;
  }

  &.hard-left {
    display: inline;
  
    li {
      margin-left: 35px !important;
    }
  }

  &.indent-left {
    display: inline;

    li {
      margin-left: 90px !important;
    }
  }
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
}

dl {
  dt {
    font-size: 45px !important;
    color: #E9C153 !important;
  }

  dd {
    font-size: 32px !important;
    padding-bottom: 25px !important;
  }
}

img.boring {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

img.standard {
  max-height: 350px;
}